.content{
    .border{
        text-align: center;
        border: 1px solid rgb(239, 239, 239);
    }
    &-top{
        text-align: center;
        .col(33.33332%);
    
        .intro{
            
            .big{
                
                font-family: 'CormorantGaramond';
                font-weight: 800;
                font-size: 18px;
                color: rgb(51, 51, 51);
                text-transform: uppercase;
                text-align: center;
            }
            .small{
                font-family: 'FiraSans';
                font-weight: 400;
                font-size: 14px;
                color: #b8b8b8;
                text-align: center;
            }
        } 
    }
    .text{
        text-align: center;
        height: 330px;
        width: 100%;
        &-info{
            .col(66.66665%);
            margin: auto;
            font-family: 'CormorantGaramond';
            font-weight: 500;
            font-size: 34px;
            color: rgb(51, 51, 51);
            padding-top: 120px;
        }
    }
    .banner{
        align-items: center;
        .banner2{
            margin-right: 300px;
        }
    }
}