.content{
    .border{
        text-align: center;
        border: 1px solid rgb(239, 239, 239);
    }
    &-top{
        text-align: center;
        .col(33.33332%);
    
        .intro{
            
            .big{
                
                font-family: 'CormorantGaramond';
                font-weight: 800;
                font-size: 18px;
                color: rgb(51, 51, 51);
                text-transform: uppercase;
                text-align: center;
            }
            .small{
                font-family: 'FiraSans';
                font-weight: 400;
                font-size: 14px;
                color: #b8b8b8;
                text-align: center;
            }
        } 
    }
    .text{
        text-align: center;
        height: 330px;
        width: 100%;
        &-info{
            .col(66.66665%);
            margin: auto;
            font-family: 'CormorantGaramond';
            font-weight: 500;
            font-size: 34px;
            color: rgb(51, 51, 51);
            padding-top: 120px;
        }
    }
}
.banner{
    &-small {
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        .col-feature(3);
        &-inner1{
            position: absolute;
            top: 80%;
            left: 50%;
            .transform(translateX(-50%));
            letter-spacing: 0.08em;
            text-align: center;
        }
        &-inner3{
            position: absolute;
            top: 63%;
            left: 38%;
            .transform(translateX(-38%));
        }
        &-inner5{
            position: absolute;
            top: 80%;
            left: 49%;
            .transform(translateX(-49%));
            text-align: center;
        }
        .title{

            font-family: 'FiraSans';
            font-weight: 400;
            font-size: 24px;
            color: rgb(51, 51, 51);
        }
        .a{
            font-size: 14px;
        }
        .cost-b{
            span{
                font-size: 70px;
            }
        }
        span{

            text-align: center; 
            font-family: 'CormorantGaramond';
            font-weight: 800;
            font-size: 24px;
            color: rgb(214, 186, 141);
        }
    }
    &-big {
        position: relative;
        img{
            display: block;
            width: 100%;
        }
        .col-feature(6);
        &-inner2{
            position: absolute;
            top: 31%;
            left: 82%;
            .transform(translateX(-82%));
            text-align: center;
            .sale-up{
                font-size: 24px;
            }
            .discount{
                font-size: 66px;
                font-family:'FiraSans';
                font-weight: 400;
                font-weight: bold;
            }
            .btn{
                padding-top: 10px;
            }
        }
        &-inner6{
            position: absolute;
            top: 21%;
            left: 23%;
            .transform(translateX(-23%));
        }
        .title{
            font-size: 48px;
            font-family:'FiraSans';
            font-weight: 400;
            font-weight: bold;
        }
        .detail{
            font-family: 'CormorantGaramond';
            font-weight: 800;
            font-size: 14px;
        }
    }
}

.feater-nav{
    margin-top: 125px;
    &-item{
        position: relative;
        display: flex;
        justify-content: space-between;
        .feater{
            font-size: 56px;
            font-family: 'CormorantGaramond';
            font-weight: 800;

        }
        .view-more{
            font-size: 14px;
            font-family:'FiraSans';
            font-weight: 600;
            position: absolute;
            top: 42%;
            right: 0;
            .transform(translateX(0,-42%));
            i{
                padding-left: 5px;
            }
        }
    }
}

.feater-item{
    .item{
        &:hover{
            .favorite{            
                    opacity: 1;
            }
            .slick-next{           
                    opacity: 1;
            }
            .slick-prev{
                    opacity: 1;
            }
        }
        .favorite{
            opacity: 0;
            display: flex;
            position: absolute;
            bottom: 16%;
            left: 2%;
            .transform(translateX(-2%,-16%));
            .add{
                height: 40px;
                width: 140px;
                background-color: #d6ba8d;
                &-to-cart{
                    font-family: 'FiraSans';
                    font-weight: 600;
                    font-size: 14px;
                    color: white;
                    line-height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
            ul{
                display: flex;
                li{
                    height: 40px;
                    width: 40px;
                    background-color: #585858;
                    margin-right: 2px;
                    line-height: 40px;
                    text-align: center;
                    i{
                        
                        color: #cccccc;
                    }
                }
            }
        }
        .slick-arrow{
           
        }
        .slick-prev{
            opacity: 0;
            z-index: 1000;
            left: 20px;
            &::before{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f053';
                color: black;
            }
        }
        .slick-next{
            opacity: 0;
            z-index: 1000;
            right: 20px;
            &::before{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                content: '\f054';
                color: black;
            }          
        }
        img{
            position: relative;
            display: block;
            width: 100%;
        }
        .col(25%);
        &-inner{
            text-align: center;
            padding-top: 25px;
            .title{
                font-family: 'FiraSans';
                font-weight: 400;
                font-size: 14px;
            }
            .price{
                font-family: 'CormorantGaramond';
                font-weight: 800;
                font-style: 18px;
                color: #f4b9b9;
            }
        }
    }
}

.blogupdate{
    background-color: #faf9f9;
    .title{
        font-size: 56px;
        font-family:'CormorantGaramond';
        font-weight: 800;
        text-align: center;
        margin-top: 100px;
    }
    .blog-item{
        img{
            display: block;
            width: 100%;
        }
        height: 470px;
        width: 371px;
        background-color: #fff;
        position: relative;
        .col-feature(4);
    }
    .blog-inner{
        position: absolute;
        top: 44%;
        left: 12%;
        .transform(translateX(-12%,0));
        .date{
            font-family: 'FiraSans';
            font-weight: 400;
            font-size: 14px;
            color: rgb(204, 204, 204);
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .head{
            font-family: 'CormorantGaramond';
            font-weight: 800;
            font-size: 24px;
            border-bottom: 1px solid #000;
            padding-bottom: 30px;
        }
        .view{
            margin-top: 70px;
            font-family: 'FiraSans';
            font-weight: 400;
            font-size: 14px;
            color: #8c8c8c;
            display: flex;
            .views{
                padding-right: 10px;
            }
        }
    }
    .goto-blog{
        text-align: center;
        padding-top: 70px;
        font-family: 'FiraSans';
        font-weight: 400;
        font-size: 14px;
    }
}

.brand{
    padding-top: 150px;
    &-item{
        .col(16.6666%);
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
        img{
            display: block;
            width: 100%;
        }
    }
}