@font-face {
  font-family: 'FiraSans';
  src: url(/assets/fonts/Fira_Sans/FiraSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FiraSans';
  src: url(/assets/fonts/Fira_Sans/FiraSans-Bold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(/assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
  font-style: normal;
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.bonfire-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.feature-container {
  max-width: 1750px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
}
.header-top {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 80px;
}
.header-top .nav {
  display: flex;
  padding-top: 10px;
  font-size: 30px;
  color: #fff;
}
.header-top .nav .cart a {
  color: #fff;
}
.header-top .nav .dropdown {
  margin-left: 40px;
}
.header-right .social-list ul {
  margin-left: 80px;
  position: absolute;
  top: 55%;
  right: 4%;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  text-align: right;
}
.header-right .social-list ul a {
  font-family: 'CormorantGaramond';
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.667;
}
.slider {
  max-height: 1000px;
  overflow: hidden;
}
.slider .slick-next {
  right: 20px;
  z-index: -10;
}
.slider-item {
  position: relative;
}
.slider-item img {
  width: 100%;
}
.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64%);
  -webkit-transform: translate(-50%, -64%);
  -moz-transform: translate(-50%, -64%);
  -ms-transform: translate(-50%, -64%);
  -o-transform: translate(-50%, -64%);
}
.slider-content .slider-left {
  width: 80%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.slider-content .slider-left .summary {
  font-family: 'FiraSans';
  font-size: 24.339px;
  color: #696969;
  letter-spacing: 0.5em;
}
.slider-content .slider-left .title {
  font-family: 'CormorantGaramond';
  font-size: 100px;
  color: #333333;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.3em;
}
.slider-content .slider-left .discorver {
  width: 197px;
  height: 48px;
  background-color: #333333;
  line-height: 48px;
  text-align: center;
}
.slider-content .slider-left .discorver:hover {
  background-color: red;
}
.slider-content .slider-left .discorver a {
  font-family: 'FiraSans';
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5;
}
.content .border {
  text-align: center;
  border: 1px solid #efefef;
}
.content-top {
  text-align: center;
  width: 33.33332%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.content-top .intro .big {
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.content-top .intro .small {
  font-family: 'FiraSans';
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  text-align: center;
}
.content .text {
  text-align: center;
  height: 330px;
  width: 100%;
}
.content .text-info {
  width: 66.66665%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  margin: auto;
  font-family: 'CormorantGaramond';
  font-weight: 500;
  font-size: 34px;
  color: #333333;
  padding-top: 120px;
}
.banner-small {
  position: relative;
  width: calc(100% / 12 * 3);
  padding: 0 25px;
  margin: 25px 0;
  box-sizing: border-box;
}
.banner-small-inner1 {
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  letter-spacing: 0.08em;
  text-align: center;
}
.banner-small-inner3 {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translateX(-38%);
  -webkit-transform: translateX(-38%);
  -moz-transform: translateX(-38%);
  -ms-transform: translateX(-38%);
  -o-transform: translateX(-38%);
}
.banner-small-inner5 {
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translateX(-49%);
  -webkit-transform: translateX(-49%);
  -moz-transform: translateX(-49%);
  -ms-transform: translateX(-49%);
  -o-transform: translateX(-49%);
  text-align: center;
}
.banner-small .title {
  font-family: 'FiraSans';
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}
.banner-small .a {
  font-size: 14px;
}
.banner-small .cost-b span {
  font-size: 70px;
}
.banner-small span {
  text-align: center;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 24px;
  color: #d6ba8d;
}
.banner-big {
  position: relative;
  width: calc(100% / 12 * 6);
  padding: 0 25px;
  margin: 25px 0;
  box-sizing: border-box;
}
.banner-big-inner2 {
  position: absolute;
  top: 31%;
  left: 81%;
  transform: translateX(-81%);
  -webkit-transform: translateX(-81%);
  -moz-transform: translateX(-81%);
  -ms-transform: translateX(-81%);
  -o-transform: translateX(-81%);
  text-align: center;
}
.banner-big-inner6 {
  position: absolute;
  top: 20%;
  left: 41%;
  transform: translateX(-41%);
  -webkit-transform: translateX(-41%);
  -moz-transform: translateX(-41%);
  -ms-transform: translateX(-41%);
  -o-transform: translateX(-41%);
}
.banner-big .title {
  font-size: 48px;
  font-family: 'FiraSans';
  font-weight: 400;
  font-weight: bold;
}
.banner-big .detail {
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 14px;
}
.feater-nav {
  margin-top: 125px;
}
.feater-nav-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.feater-nav-item .feater {
  font-size: 56px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
}
.feater-nav-item .view-more {
  font-size: 14px;
  font-family: 'FiraSans';
  font-weight: 600;
  position: absolute;
  top: 42%;
  right: 0;
  transform: translateX(0, -42%);
  -webkit-transform: translateX(0, -42%);
  -moz-transform: translateX(0, -42%);
  -ms-transform: translateX(0, -42%);
  -o-transform: translateX(0, -42%);
}
.feater-item .item {
  position: relative;
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.blogupdate {
  background-color: #faf9f9;
}
.blogupdate .title {
  font-size: 56px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
}
.blogupdate-item {
  position: relative;
  width: calc(100% / 12 * 4);
  padding: 0 25px;
  margin: 25px 0;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */