@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FiraSans';
  src: url(../fonts/Fira_Sans/FiraSans-Bold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'CormorantGaramond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
  font-style: normal;
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.bonfire-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.feature-container {
  max-width: 1750px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  width: 30%;
  display: none;
  position: absolute;
  background-color: #696969;
  text-align: right;
  top: 0%;
  left: 97%;
  transform: translate(-97%, 0);
  -webkit-transform: translate(-97%, 0);
  -moz-transform: translate(-97%, 0);
  -ms-transform: translate(-97%, 0);
  -o-transform: translate(-97%, 0);
}
.dropdown-content .dropdown-opt {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}
.dropdown-content .dropdown-opt:hover {
  background: crimson;
}
.dropdown-content .dropdown-opt a {
  color: #fff;
}
.header-top {
  position: absolute;
  left: 4.5%;
  top: 5%;
  transform: translateX(-4.5%, 0);
  -webkit-transform: translateX(-4.5%, 0);
  -moz-transform: translateX(-4.5%, 0);
  -ms-transform: translateX(-4.5%, 0);
  -o-transform: translateX(-4.5%, 0);
  display: flex;
  justify-content: space-between;
}
.header-top .nav {
  display: flex;
  padding-top: 10px;
  font-size: 30px;
  line-height: 21px;
  color: #fff;
}
.header-top .nav .cart a {
  font-size: 30px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Ionicons";
}
.header-top .nav .dropdown {
  margin-left: 40px;
}
.header-top .nav .dropdown-btn ion-icon {
  font-size: 30px;
  line-height: 21px;
  color: #ffffff;
  font-family: "Ionicons";
}
.header-top .slider-right .social .social-list ul {
  margin-left: 80px;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translateX(-50%, 0);
  -webkit-transform: translateX(-50%, 0);
  -moz-transform: translateX(-50%, 0);
  -ms-transform: translateX(-50%, 0);
  -o-transform: translateX(-50%, 0);
}
.header-top .slider-right .social .social-list ul a {
  font-family: 'CormorantGaramond';
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.667;
}
.header-right .social-list ul {
  margin-left: 80px;
  position: absolute;
  top: 55%;
  right: 4%;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  text-align: right;
}
.header-right .social-list ul a {
  font-family: 'CormorantGaramond';
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.667;
}
.header .slider-item img {
  display: block;
  width: 100%;
}
.slider {
  max-height: 1000px;
  overflow: hidden;
}
.slider .slick-next {
  right: 20px;
  z-index: -10;
}
.slider-item {
  position: relative;
}
.slider-content {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -54%);
  -webkit-transform: translate(-50%, -54%);
  -moz-transform: translate(-50%, -54%);
  -ms-transform: translate(-50%, -54%);
  -o-transform: translate(-50%, -54%);
}
.slider-content .slider-left {
  width: 840px;
}
.slider-content .slider-left .summary {
  font-family: 'FiraSans';
  font-weight: 400;
  color: #696969;
  font-size: 24px;
  letter-spacing: 12px;
  line-height: 31px;
  padding-bottom: 12px;
}
.slider-content .slider-left .title {
  font-family: 'CormorantGaramond';
  color: #333333;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 100px;
  padding-top: 20px;
  padding-bottom: 33px;
}
.slider-content .slider-left .discorver {
  width: 197px;
  height: 48px;
  background-color: #333333;
  line-height: 48px;
  text-align: center;
  margin-top: 22px;
}
.slider-content .slider-left .discorver:hover {
  background-color: red;
}
.slider-content .slider-left .discorver a {
  font-family: 'FiraSans';
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 24px;
}
.slider-content .slider-right .social .social-list ul {
  margin-left: 80px;
  position: absolute;
  top: 37%;
  right: -21%;
  transform: translateX(-21%, 0);
  -webkit-transform: translateX(-21%, 0);
  -moz-transform: translateX(-21%, 0);
  -ms-transform: translateX(-21%, 0);
  -o-transform: translateX(-21%, 0);
  text-align: right;
}
.slider-content .slider-right .social .social-list ul a {
  font-family: 'CormorantGaramond';
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.667;
}
.content .border {
  text-align: center;
  border: 1px solid #efefef;
}
.content-top {
  text-align: center;
  width: 33.33332%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.content-top .intro .big {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 28px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.content-top .intro .small {
  font-size: 14px;
  line-height: 28px;
  font-family: 'FiraSans';
  font-weight: 400;
  color: #b8b8b8;
  text-align: center;
}
.content .text {
  text-align: center;
  width: 100%;
}
.content .text-info {
  width: 800px;
  margin: auto;
  font-family: 'CormorantGaramond';
  font-weight: 500;
  color: #333333;
  font-size: 34px;
  line-height: 48px;
  margin-top: 102px;
  margin-bottom: 100px;
}
.banner-small {
  position: relative;
  width: calc(100% / 12 * 3);
  padding: 0 25px;
  margin: 25px 0;
  box-sizing: border-box;
}
.banner-small img {
  display: block;
  width: 100%;
}
.banner-small-inner1 {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  letter-spacing: 0.08em;
  text-align: center;
}
.banner-small-inner1 .title1 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Fira Sans";
}
.banner-small-inner1 .cost {
  padding-top: 17px;
}
.banner-small-inner3 {
  position: absolute;
  top: 64%;
  left: 40%;
  transform: translateX(-40%);
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
}
.banner-small-inner3 .title {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 24px;
  font-family: 'FiraSans';
  font-weight: 400;
}
.banner-small-inner3 .cost-b {
  font-size: 68px;
  line-height: 47px;
  color: #d6ba8d;
  padding-top: 34px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
}
.banner-small-inner5 {
  position: absolute;
  top: 78%;
  left: 49%;
  transform: translateX(-49%);
  -webkit-transform: translateX(-49%);
  -moz-transform: translateX(-49%);
  -ms-transform: translateX(-49%);
  -o-transform: translateX(-49%);
  text-align: center;
}
.banner-small-inner5 .title2 {
  width: 283px;
  height: 21px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Fira Sans";
}
.banner-small-inner5 .cost2 {
  padding-top: 30px;
}
.banner-small span {
  text-align: center;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 24px;
  color: #d6ba8d;
}
.banner-big {
  position: relative;
  width: calc(100% / 12 * 6);
  padding: 0 25px;
  margin: 25px 0;
  box-sizing: border-box;
}
.banner-big img {
  display: block;
  width: 100%;
}
.banner-big-inner2 {
  position: absolute;
  top: 21%;
  left: 65%;
  transform: translateX(-65%, -21%);
  -webkit-transform: translateX(-65%, -21%);
  -moz-transform: translateX(-65%, -21%);
  -ms-transform: translateX(-65%, -21%);
  -o-transform: translateX(-65%, -21%);
  text-align: center;
}
.banner-big-inner2 .sale-up {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 64px;
}
.banner-big-inner2 .sale-up2 {
  font-size: 24px;
  line-height: 64px;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  font-weight: 800;
  padding-top: 39px;
}
.banner-big-inner2 .discount {
  font-size: 100px;
  line-height: 36px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  padding-top: 26px;
}
.banner-big-inner2 .btn {
  padding-top: 23px;
}
.banner-big-inner2 .btn a {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 64px;
  font-family: 'FiraSans';
  font-weight: 600;
  text-transform: uppercase;
}
.banner-big-inner6 {
  position: absolute;
  top: 26.5%;
  left: 13%;
  transform: translateX(-13%);
  -webkit-transform: translateX(-13%);
  -moz-transform: translateX(-13%);
  -ms-transform: translateX(-13%);
  -o-transform: translateX(-13%);
}
.banner-big-inner6 .title3 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
  font-family: "Cormorant Garamond";
}
.banner-big-inner6 .detail {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #696969;
  font-weight: 400;
  font-family: "Fira Sans";
  padding-top: 20px;
}
.feater-nav {
  margin-top: 94px;
}
.feater-nav-item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.feater-nav-item .feater {
  font-size: 56px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
}
.feater-nav-item .view-more {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #333333;
  font-weight: 600;
  font-family: "Fira Sans";
  position: absolute;
  top: 53%;
  right: 1.5%;
  transform: translateX(1.5%, -58%);
  -webkit-transform: translateX(1.5%, -58%);
  -moz-transform: translateX(1.5%, -58%);
  -ms-transform: translateX(1.5%, -58%);
  -o-transform: translateX(1.5%, -58%);
}
.feater-nav-item .view-more ion-icon {
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #d6ba8d;
  font-family: "Ionicons";
}
.feater-item {
  padding-top: 47px;
}
.feater-item .item {
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.feater-item .item:hover .slick-next {
  opacity: 1;
}
.feater-item .item:hover .slick-prev {
  opacity: 1;
}
.feater-item .item .favorite {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 17%;
  left: 2%;
  transform: translateX(-2%, -17%);
  -webkit-transform: translateX(-2%, -17%);
  -moz-transform: translateX(-2%, -17%);
  -ms-transform: translateX(-2%, -17%);
  -o-transform: translateX(-2%, -17%);
}
.feater-item .item .favorite:hover {
  opacity: 1;
}
.feater-item .item .favorite .add {
  height: 40px;
  width: 140px;
  background-color: #d6ba8d;
}
.feater-item .item .favorite .add-to-cart {
  font-family: 'FiraSans';
  font-weight: 600;
  font-size: 14px;
  color: white;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.feater-item .item .favorite ul {
  display: flex;
}
.feater-item .item .favorite ul li {
  height: 40px;
  width: 40px;
  background-color: #585858;
  margin-right: 2px;
  line-height: 40px;
  text-align: center;
}
.feater-item .item .favorite ul li i {
  color: #cccccc;
}
.feater-item .item .slick-prev {
  opacity: 0;
  z-index: 1000;
  left: 20px;
}
.feater-item .item .slick-prev::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f053';
  color: black;
}
.feater-item .item .slick-next {
  opacity: 0;
  z-index: 1000;
  right: 20px;
}
.feater-item .item .slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  color: black;
}
.feater-item .item img {
  position: relative;
  display: block;
  width: 100%;
}
.feater-item .item-inner {
  text-align: center;
}
.feater-item .item-inner .title {
  padding-top: 5px;
  font-family: 'FiraSans';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 36px;
}
.feater-item .item-inner .price {
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #d6ba8d;
}
.blogupdate {
  margin-top: 100px;
  background-color: #faf9f9;
  position: relative;
}
.blogupdate .title {
  position: absolute;
  top: -11%;
  left: 43%;
  transform: translateX(-43%, 0%);
  -webkit-transform: translateX(-43%, 0%);
  -moz-transform: translateX(-43%, 0%);
  -ms-transform: translateX(-43%, 0%);
  -o-transform: translateX(-43%, 0%);
  font-size: 56px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 58px;
}
.blogupdate .frame {
  padding-top: 111px;
}
.blogupdate .blog-item {
  background-color: #fff;
  position: relative;
  width: 370px;
  padding: 0px 0px;
  margin: 0px 15px;
  box-sizing: border-box;
}
.blogupdate .blog-item img {
  height: 220px;
}
.blogupdate .blog-inner .date {
  font-family: 'FiraSans';
  font-weight: 400;
  color: #cccccc;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  padding: 20px 0 21px 33px;
}
.blogupdate .blog-inner .head {
  width: 283px;
  font-family: 'CormorantGaramond';
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 32px;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 47px 32px;
}
.blogupdate .blog-inner .view {
  padding: 18px 0 0 34px;
  font-family: 'FiraSans';
  font-weight: 400;
  font-size: 14px;
  color: #8c8c8c;
  display: flex;
  padding-bottom: 20px;
}
.blogupdate .blog-inner .view .views {
  padding-right: 31px;
}
.blogupdate .blog-inner .view .views ion-icon {
  font-size: 16px;
  line-height: 32px;
  color: #92c5d9;
  font-family: "Ionicons";
}
.blogupdate .blog-inner .view .like ion-icon {
  font-size: 16px;
  line-height: 32px;
  color: #92c5d9;
  font-family: "Ionicons";
}
.blogupdate .goto-blog {
  text-align: center;
  padding-top: 70px;
  font-family: 'CormorantGaramond';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  padding-bottom: 100px;
}
.brand {
  padding-top: 49px;
  padding-bottom: 90px;
}
.brand-item {
  width: 16.6666%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  opacity: 0.5;
  height: 30px;
  position: relative;
}
.brand-item img {
  object-fit: scale-down;
  object-position: top;
}
.brand-item:hover {
  opacity: 1;
}
.brand-item img {
  display: block;
  width: 100%;
}
.footer {
  background-color: #333333;
}
.footer-top {
  padding-top: 64px;
  position: relative;
  border-bottom: 3px solid #000;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.footer-top .listmenu {
  position: absolute;
  top: 60%;
  left: 26%;
  transform: translateX(-26%, 0);
  -webkit-transform: translateX(-26%, 0);
  -moz-transform: translateX(-26%, 0);
  -ms-transform: translateX(-26%, 0);
  -o-transform: translateX(-26%, 0);
}
.footer-top .listmenu ul {
  display: flex;
  line-height: 24px;
}
.footer-top .listmenu ul li a {
  padding-left: 19px;
  padding-right: 16px;
  font-family: 'FiraSans';
  font-weight: 600;
  color: #717171;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-top .listmenu ul li a:hover {
  color: #d6ba8d;
}
.footer-top .sub {
  font-family: 'FiraSans';
  font-weight: 600;
  font-size: 14px;
  color: #717171;
  width: 156px;
  height: 38px;
  border: 2px solid #717171;
  position: absolute;
  top: 56%;
  left: 86.5%;
  transform: translateX(-86.5%, 0);
  -webkit-transform: translateX(-86.5%, 0);
  -moz-transform: translateX(-86.5%, 0);
  -ms-transform: translateX(-86.5%, 0);
  -o-transform: translateX(-86.5%, 0);
}
.footer-top .sub:hover {
  background-color: #d6ba8d;
}
.footer-top .sub-btn {
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  color: #ababab;
  font-weight: 600;
  font-family: "Fira Sans";
}
.footer-top .sub-btn i {
  color: #d6ba8d;
  padding-left: 10px;
}
.footer-bottom {
  position: relative;
  padding-top: 43px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom .left {
  font-family: 'FiraSans';
  font-weight: 400;
  font-size: 14px;
  color: #606060;
}
.footer-bottom .right ul {
  position: absolute;
  top: 16%;
  left: 80.3%;
  transform: translateX(-80.3%, 0);
  -webkit-transform: translateX(-80.3%, 0);
  -moz-transform: translateX(-80.3%, 0);
  -ms-transform: translateX(-80.3%, 0);
  -o-transform: translateX(-80.3%, 0);
  display: flex;
}
.footer-bottom .right ul .circle {
  width: 44px;
  height: 44px;
  border-width: 2px;
  border-color: #696969;
  border-style: solid;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  margin-left: 10px;
}
.footer-bottom .right ul .circle:hover {
  background-color: #d6ba8d;
}
@media all and (max-width: 1200px) {
  .header-top {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0, 0);
    -webkit-transform: translateX(0, 0);
    -moz-transform: translateX(0, 0);
    -ms-transform: translateX(0, 0);
    -o-transform: translateX(0, 0);
  }
  .header .slider-item .slider-content .summary {
    font-size: 21px;
  }
  .header .slider-item .slider-content .title {
    font-size: 80px;
  }
  .banner-small-inner1 .title {
    font-size: 14px;
  }
  .banner-small-inner1 .cost span {
    font-size: 18px;
  }
  .banner-small-inner3 .title {
    font-size: 17px;
  }
  .banner-small-inner3 .cost-b span {
    font-size: 40px;
  }
  .banner-small-inner5 .title {
    font-size: 14px;
  }
  .banner-small-inner5 .cost span {
    font-size: 18px;
  }
  .banner-big-inner2 .sale-up {
    font-size: 14px;
  }
  .banner-big-inner2 .discount {
    font-size: 40px;
  }
  .banner-big-inner6 .title {
    font-size: 35px;
  }
  .feater-item .item .favorite .add {
    height: 30px;
    width: 120px;
  }
  .feater-item .item .favorite .add .add-to-cart {
    line-height: 30px;
  }
  .feater-item .item .favorite ul li {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media all and (max-width: 1024px) {
  .header .slider-item .slider-content .summary {
    font-size: 17px;
  }
  .header .slider-item .slider-content .title {
    font-size: 51px;
  }
  .banner-small-inner1 .title {
    font-size: 12px;
  }
  .banner-small-inner1 .cost span {
    font-size: 16px;
  }
  .banner-small-inner3 .title {
    font-size: 11px;
  }
  .banner-small-inner3 .cost-b span {
    font-size: 27px;
  }
  .banner-small-inner5 .title {
    font-size: 12px;
  }
  .banner-small-inner5 .cost span {
    font-size: 16px;
  }
  .banner-big-inner2 .sale-up {
    font-size: 12px;
  }
  .banner-big-inner2 .discount {
    font-size: 30px;
  }
  .banner-big-inner2 .btn {
    padding-top: 5px;
  }
  .banner-big-inner6 .title {
    font-size: 24px;
  }
  .banner-big-inner6 .detail {
    font-size: 12px;
  }
  .feater-item .item .favorite {
    width: 100%;
  }
  .feater-item .item .favorite .add {
    height: 24px;
    width: 80px;
  }
  .feater-item .item .favorite .add .add-to-cart {
    font-size: 12px;
    line-height: 30px;
  }
  .feater-item .item .favorite ul li {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
  .blogupdate .blog-item .blog-inner {
    margin-top: -60px;
  }
  .blogupdate .blog-item .blog-inner .head a {
    font-size: 21px;
  }
  .footer .footer-top .logo img {
    height: 90px;
    width: 159px;
  }
  .footer .footer-top .listmenu ul li a {
    font-size: 14px;
    padding-right: 15px;
  }
  .footer .footer-top .sub {
    width: 100px;
  }
}
@media all and (max-width: 768px) {
  .header-top .bonfire img {
    width: 140px;
    height: 40px;
  }
  .header-top .nav {
    font-size: 22px;
  }
  .header .slider-item .slider-content .summary {
    margin-top: 50px;
    font-size: 12px;
  }
  .header .slider-item .slider-content .title {
    font-size: 30px;
  }
  .header .slider-item .slider-content .slider-left .discorver {
    margin-top: 20px;
    width: 150px;
  }
  .content .text {
    height: 140px;
  }
  .content .text-info {
    font-size: 21px;
    padding-top: 50px;
  }
  .banner-small-inner1 .title {
    font-size: 12px;
  }
  .banner-small-inner1 .cost span {
    font-size: 16px;
  }
  .banner-small-inner3 .title {
    font-size: 9px;
  }
  .banner-small-inner3 .cost-b span {
    font-size: 17px;
  }
  .banner-small-inner5 .title {
    font-size: 12px;
  }
  .banner-small-inner5 .cost span {
    font-size: 16px;
  }
  .banner-big-inner2 .sale-up {
    font-size: 10px;
  }
  .banner-big-inner2 .discount {
    font-size: 20px;
  }
  .banner-big-inner2 .btn {
    font-size: 12px;
  }
  .banner-big-inner6 .title {
    font-size: 15px;
  }
  .banner-big-inner6 .detail {
    font-size: 10px;
  }
  .feater-nav-item .feater {
    font-size: 45px;
  }
  .feater-item .item .favorite {
    width: 100%;
  }
  .feater-item .item .favorite .add {
    height: 24px;
    width: 37px;
  }
  .feater-item .item .favorite .add .add-to-cart {
    font-size: 12px;
    line-height: 30px;
  }
  .feater-item .item .favorite ul li {
    height: 24px;
    width: 24px;
    line-height: 24px;
  }
  .blogupdate .blog-item .blog-inner {
    margin-top: -100px;
  }
  .blogupdate .blog-item .blog-inner .head a {
    font-size: 15px;
  }
  .blogupdate .blog-item .blog-inner .view {
    margin-top: 1px;
  }
  .blogupdate .goto-blog {
    padding-top: 0px;
  }
  .brand {
    padding-top: 40px;
  }
  .footer .footer-top .logo img {
    height: 70px;
    width: 120px;
  }
  .footer .footer-top .listmenu ul li a {
    font-size: 11px;
    padding-right: 7px;
  }
  .footer .footer-top .sub {
    width: 100px;
    top: 36%;
    left: 82%;
    transform: translateX(-82%, 0);
    -webkit-transform: translateX(-82%, 0);
    -moz-transform: translateX(-82%, 0);
    -ms-transform: translateX(-82%, 0);
    -o-transform: translateX(-82%, 0);
    font-size: 12px;
  }
  .footer-bottom .left {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */