// reset
* {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: #000;
    &:hover {
        color: #000;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
.bonfire-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.feature-container {
    max-width: 1750px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.feature-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}
.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
    &-content {
        width: 30%;
        display: none;
        position: absolute;
        background-color:rgb(105, 105, 105);
        text-align: right;
        top: 0%;
        left: 97%;
        .transform(translate(-97%,0));
        .dropdown-opt{
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid #000;
            &:hover{               
                    background: crimson;    
            }
            a{
                color: #fff;
            }
        }
    }
}

